<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lue.laoyoutiao"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".global.ContextApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:logo="@mipmap/logo_white"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BoardArticleListActivity"
            android:label="@string/title_activity_board_article_list">
        </activity>
        <activity
            android:name=".activity.ReadArticleActivity"
            android:label="@string/read_article"
            android:launchMode="standard">
        </activity>
        <activity
            android:name=".activity.SeniorReplyActivity"
            android:label="@string/title_activity_senior_reply">
        </activity>
        <activity android:name=".activity.PostArticleActivity"
            android:label="@string/write_article">
        </activity>
    </application>

</manifest>